* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6F7F6;
    margin-top: 10vh;
}

header {
    width: 100vw;
    height: 10vh;
    background-color: #FEFFFF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 2em;
    position: fixed;
    top: 0;
    left: 0;
}
